body {
    background-color: #162b29;
    font-family: 'Source Sans Pro', sans-serif;
}

.hideButton {
    border: 0px;
    border-radius: 10px;
    padding: 0px;
    margin: 180px auto;
    
}

.img {
    width: 150px;
    padding: 0px;
    margin-bottom: -5px;
    margin-top: -1px;
    border-radius: 10px;
    border-style: outset;
    border-color: #fbda57;
    border-width: 4px;
}

.img:hover {
    
    transform: scale(1.04);
    transition-duration: 0.07s;
    
}

.img:active {
    
    border-color: #fbda57;
    border-style: inset;
    transform: scale(1.02);
    
}

.containerButtons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: -100px;

}

.containerScore {
    
    display: grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 25px 30px;
    color: #f8f4f8;
    border: 2px solid #ffc4b1;
    border-radius: 8px;
    height: 50px;
    width: 270px;
    margin: 10px auto;
    margin-bottom: -130px;
    margin-top: 50px;
    
}

.containerHeader{
    color: #f8f4f8;
    margin-top: 40px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 19px;
    padding-top: 13px;
    text-align: center;
}

#scoreValuePlayer, #scoreValueAI, #scorePlayer, #scoreAI  {
    justify-self: center;
    padding-top: 3px;
    padding-left: 17px;

}

#scoreValueAI, #scoreValuePlayer {
    font-weight: bold;
}

.containerResults{
    color: #f8f4f8;
}

#github{
    width: 50px;
}

.helpHeader {
    color: #f8f4f8;
    text-decoration: none;
    font-size: 20px;
}

.helpHeader:hover {
    text-decoration: underline;
}

.headerLinks {
    display: Flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px -36px 20px;
}

@media